* {
    border-radius: 5px;
  }
  
  body.thumb {
    transform: scale(0.4);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }
  

  
  .row [class*='col'] {
    background-color: #efefef;
    background-clip: content-box;
  }
  
  .nav-item {
    background-color: #eeeeff;
    background-clip: content-box;
  }
  .card-body-header{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 20px;
  }
  .tbl-container{
    max-width: fit-content;
    max-height: fit-content;
  }
  .tbl-fixed{
    overflow-x:scroll;
    overflow-y:scroll;
    height:50vh;
  }
  table{
    min-width: max-content;
   border: 1px solid black;
   border-radius: 5px;
   text-align: center;
  }
thead{
    position: sticky;
   top: 0; /* Don't forget this, required for the stickiness */
    text-align: center;
    font-size: 16px;
   
  }
  