/* The sidebar menu */
.sidenav {
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 260px; /* Set the width of the sidebar */
    position:fixed; /*Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 80px; /* Stay at the top */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    
  }
  .dropdown-item:hover{
    border-radius: 5px;
  }
  


   /* Extra small devices (portrait phones, less than 576px) */
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) { 

  }
  
   /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {

    }
  
   /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {

    }
  
   /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) { 

   }


   