<div class="container-fluid pb-2 flex-grow-1 d-flex flex-column flex-sm-row overflow-auto">
  <div class="row flex-grow-sm-1 flex-grow-0">
    <aside class="sticky-top pb-sm-0 pb-3" style="width: 250px;">
      <div class="bg-light border rounded-3 p-1 h-100 sticky-top">
        <ul class="nav nav-pills flex-sm-column flex-row mb-auto justify-content-between text-truncate">
          <li class="nav-item">
            <a routerLinkActive="active" routerLink="/home" class="nav-link px-2 text-truncate">
              <i class="fa-solid fa-wrench"></i>&nbsp;
              <span class="d-none d-sm-inline"> Product Master</span>
            </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/pricelist" class="nav-link px-2 text-truncate">
              <i class="fa-solid fa-indian-rupee-sign"></i>&nbsp;&nbsp;
              <span class="d-none d-sm-inline"> Product Price List</span>
            </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/salesquantity" class="nav-link px-2 text-truncate"><i class="fa-solid fa-cart-shopping"></i>&nbsp;
              <span class="d-none d-sm-inline">Sales Quantity</span> </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/salesvalue" class="nav-link px-2 text-truncate"><i
                class="fa-solid fa-money-bill-trend-up"></i>&nbsp;
              <span class="d-none d-sm-inline"> Sales Value</span> </a>
          </li>
        </ul>
      </div>
    </aside>
    <main class="col overflow-auto h-100 card">
      <div class="bg-light border rounded-3 p-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Sales Value</h1>
        </div>

        <div class="card">
          <div class="card-body p-4">
            <div>
              <div class="card-body-header">
                <h2><span>Sales Budget 2021-22</span></h2>
                <select class="ui search dropdown m-4">
                  <option value="">State</option>
                  <option value="AL">Maharashtra</option>
                  <option value="AK">Gujrat</option>
                  <option value="AZ">Madhya Pradesh</option>
                </select>
                <select class="ui search dropdown ">
                  <option value="">Region</option>
                  <option value="AL">abc</option>
                  <option value="AK">pqr</option>
                  <option value="AZ">xyz </option>
                </select>
              </div>
              <!--Button trigger modal-->
              <!-- <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add New Product
                      </button> -->

              <!-- Modal -->
              <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="card">
                                <div class="card-body">
                                  <form>
                                    <div class="mb-3">
                                      <label for="formGroupLable-1" class="form-label">Product Name</label>
                                      <input type="text" class="form-control" id="formGroupLabel-1">
                                    </div>
                                    <div class="mb-3">
                                      <label for="formGroupLable-2" class="form-label">Product Category</label>
                                      <input type="text" class="form-control" id="formGroupLabel-2">
                                    </div>
                                    <div class="mb-3">
                                      <label for="formGroupLable-3" class="form-label">Sales Type</label>
                                      <input type="text" class="form-control" id="formGroupLabel-3">
                                    </div>
                                    <div class="mb-3">
                                      <label for="formGroupLable-4" class="form-label">Pack Type</label>
                                      <input type="text" class="form-control" id="formGroupLabel-4">
                                    </div>
                                    <div class="mb-3">
                                      <label for="formGroupLable-5" class="form-label">Pack Size</label>
                                      <input type="text" class="form-control" id="formGroupLabel-5">
                                    </div>
                                    <div class="mb-3">
                                      <label for="formGroupLable-6" class="form-label">MRP/Case</label>
                                      <input type="text" class="form-control" id="formGroupLabel-6">
                                    </div>
                                    <div class="mb-3">
                                      <label for="formGroupLable-7" class="form-label" >Unit</label>
                                      <input type="text" class="form-control" id="formGroupLabel-7">
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Add</button>
                            </div>
                          </div>
                        </div>
                      </div> -->
            </div>

            <!--Table-->
            <div class="container tbl-container p-2">
              <div class="row tbl-fixed">
                <table class="table table-bordered table-striped table-condensed">
                  <thead class="bg-info ">
                    <tr>
                      <th rowspan="2" class="pb-4 ">Item Name</th>
                      <th rowspan="2" class="pb-4">Category</th>
                      <th rowspan="2" class="pb-4">Sales Type</th>
                      <th rowspan="2" class="pb-4">Pack Type</th>
                      <th rowspan="2" class="pb-4">Pack Size</th>
                      <th rowspan="2" class="pb-4">Value (Lakh))</th>
                      <th colspan="12">Monthly Sales Value (Lakh)</th>
                    </tr>
                    <tr>
                      <th>Apr-22</th>
                      <th>May-22</th>
                      <th>Jun-22</th>
                      <th>Jul-22</th>
                      <th>Aug-22</th>
                      <th>Sep-22</th>
                      <th>Oct-22</th>
                      <th>Nov-22</th>
                      <th>Dec-22</th>
                      <th>Jan-23</th>
                      <th>Feb-23</th>
                      <th>Mar-23</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Tirumala Coconut Oil 576 X 20 ml Bottle</td>
                      <td>Bottle</td>
                      <td>GT</td>
                      <td>0.02</td>
                      <td>576</td>
                      <td>-</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>